{% extends 'employees/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h3 class="card-title">Confirm Delete</h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to delete "{{ employee.name }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}